@keyframes blink {
    100% {
        box-shadow: 0 0 3px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ba9ca,
            0 0 70px #0ba9ca, 0 0 80px #0ba9ca;
    }
}

.animasinya {
    // background: #000;
    background-image: url('../img/bg-black.jpg');
    background-attachment: fixed;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    position: relative;

    &::before {
        position: absolute;
        content: "";
        top: 0;
        bottom: 0;
        left: 0;
        // z-index: 9;
        right: 0;
        background: rgba($color: #000000, $alpha: .5);
    }

    .imagez {
        position: absolute;
        /* left: 0; */
        /* right: 0; */
        top: 0;
        /* bottom: 0; */
        opacity: .3;
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .spoiler {
        margin: 0 auto;
        text-align: center;
        position: relative;

        h2 {
            margin: 16px 0 8px 0;
            font-size: 3rem;
            color: #bdbdbd;
            font-weight: 600;

            @media screen and (max-width:766px) {
                font-size: 2rem;
            }

        }

        p {
            color: #bdbdbd;
        }
    }

    .data-tech {
        display: inline-block;
        width: 320px;
        height: 180px;
        margin: 4px 8px;

        @media screen and (min-width:1440px) {
            width: 400px;
            height: 270px;
        }

        @media screen and (max-width:766px) {
            width: 45%;
            margin: 4px 4px;
            height: 135px;
        }
    }

    .jajargenjang {
        width: 100%;
        height: 100%;
        // background: yellow;
        // clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
        position: relative;

        @media screen and (max-width:766px) {
            // clip-path: initial;
        }

        .image {
            width: 100%;
            height: 100%;

            // transform: skewX(20deg);
            img {

                width: 100%;
                height: 100%;
                border-radius: 8px;
                object-fit: cover;

            }
        }

        .title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 95%;
            right: 0;
            color: #fff;
            text-shadow: 1px 1px black;
            // height: 30px;
            background: linear-gradient(to top, black, transparent);
            text-align: left;
            padding-left: 24px;
        }

    }
}