@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik&display=swap');


main, p, h1,h2,h3,h4,p,div {
    font-family: 'Rubik', sans-serif;
}

.color {
    &-white {
        color: white;
    }
}

.font {
    &-sub {
        font-size: 1.58rem;
    }
}

.totop {
    position: relative;
    z-index: 44;
}