@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Rubik&display=swap');


main, p, h1,h2,h3,h4,p,div {
    font-family: 'Rubik', sans-serif;
}

.color {
    &-white {
        color: white;
    }
}

.font {
    &-sub {
        font-size: 1.58rem;
    }
}

.totop {
    position: relative;
    z-index: 44;
}

.firstletter {
    &::first-letter {
      float: left;
      font-weight: bold;
      margin-right: 8px;
      font-size: 60px;
      font-size: 6rem;
      line-height: 40px;
      line-height: 4rem;
      height: 4rem;
      text-transform: uppercase;
    }
  }